# from my.telegram.org/apps
API_ID=6435225
API_HASH=4e984ea35f854762dcde906dce426c2d

# from @BotFather on telegram
BOT_TOKEN= 8459357215:AAGJhn3alX-hC0ePtcHRPHh0t0XfSGIm51A
LOGGER_ID=-1002969828608

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://MehraMusicbot:MehraMusicbot@mehramusicbot.idpksvs.mongodb.net/?retryWrites=true&w=majority

OWNER_ID=7638296732

API_KEY=d25f05_Sp_QkEWGkDF5Q8SnY3WXKvUch1P3piul
# pyrogram session from @StringFatherBot on telegram
SESSION=BQBiMZkAo094nZ0594SbuWjV_KUZAJHyJYoC7gZJKg_G7lyqf8A0B_Get6pKs6QmnFZrNlAstmnR8FG91-6ru15MIDmgQ_tcwn0NF8_Z3RPj-ZMWysFptmepKE_blto4jIEL8zzmT0RwX8pSw2tppelAj7o0nLLt9Ela3e-vFSNVnY7B51u6ReAqFGT4KkU5tLG4RVPqxfurk-d2ta_43LD7WeGwYC2cPNaJI-3oMNaU0eR0joFUK_HB1g3zGSEY5-OY42d4BOopaCyeIuWmx7ZfUG5J7dwq_RFWcqgRpTdNrdTLst1rAs5S12w6-U_m3cKEjGsGqhWU_CvgvRsIHJtxOUAfoQAAAAGaJSDuAA
